################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwitchDeveloper/RegistryFiles/SwitchSyncClient.Registry.reg
